docs/*.log
docs/*.toc
*/Makefile
*/moc_*.cpp
*/ui_*.h
ipks/*.ipk
*/*.o
log2gdhe/log2gdhe
hoku2gdhe/hoku2gdhe
hokuyomti/log/*
hokuyomti/hokuyomti
log2gdhe/imgs/*
log2gdhe/*.txt
biketest/*.out
biketest/*.AVI
biketest/2011*
